:root {
    --vermelho:red;
    --preto:black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header .container{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 45px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover{
    color:white
}

.serie-principal{
    font-size: 16px;
    background: url(/img/vikings-capa.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
    margin-bottom: auto;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 10px;
    margin-right: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}